<nav class="sidemenu">
    <ul>
        <li routerLink="/home">
            <img src="../../../assets/icone-angular.png" class="icone-angular">
            <span class="logo">Crud de Matérias</span>
        </li>
        <li routerLink="/home"><mat-icon>home</mat-icon>Home</li>
        <li routerLink="/materias"><mat-icon>school</mat-icon>Matérias</li>
        <a href="https://angular.dev/" target="_blank"><li>Angular</li></a>
        <li routerLink="/login" class="logout"><mat-icon>logout</mat-icon>Sair</li>
    </ul>
</nav>
